* {
  box-sizing: border-box;
}
/* FONTS */
/* Aquino */
@font-face {
  font-family: "Aquino";
  src: url("../assets/fonts/Aquino-Demo.ttf") format("truetype");
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Code|Fira+Mono|Fira+Sans|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap");
body,
html,
#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #50f2ff 0%, #ff64f9 100%);
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  min-height: 100vh;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* recharts line */
.recharts-line path {
  stroke: lightsalmon;
  stroke-width: 1px;
  stroke-linecap: round;
  animation-name: chartlinecolor;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.qPointsMark {
  /* animation-name: qPointsGlow; */
  color: rgb(224, 190, 243);
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.widget {
  transform: translate(13.5px, 0px);
}

/*  lock icon, Login page */
.MuiSvgIcon-root path {
  color: whitesmoke;
}

@keyframes chartlinecolor {
  0% {
    stroke: rgb(255, 179, 87);
  }
  30% {
    stroke: rgb(255, 179, 87);
  }
  50% {
    stroke: greenyellow;
  }
  100% {
    stroke: rgb(255, 179, 87);
  }
}

@keyframes qPointsGlow {
  0% {
    color: rgb(224, 190, 243);
  }
  30% {
    color: rgb(224, 190, 243);
  }
  50% {
    color: rgb(255, 221, 111);
  }
  80% {
    color: rgb(255, 215, 86);
  }
  100% {
    color: rgb(224, 190, 243);
  }
}
