body,
html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #50f2ff 0%, #ff64f9 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
