/* FONTS */
/* Aquino */
@font-face {
  font-family: "Aquino";
  src: url("../assets/fonts/Aquino-Demo.ttf") format("truetype");
}
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Code|Fira+Mono|Fira+Sans|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap");
body,
html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #50f2ff 0%, #ff64f9 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* recharts line */
g path {
  stroke: lightsalmon;
  animation-name: chartlinecolor;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*  quizCard buttons */
.Connect\(QuizCard\)-button-299 {
  color: rgb(92, 27, 249) !important;
  border: solid white 1px !important;
  background: whitesmoke !important;
}

@keyframes chartlinecolor {
  0% {
    stroke: darkorange;
  }
  30% {
    stroke: darkorange;
  }
  50% {
    stroke: greenyellow;
  }
  100% {
    stroke: darkorange;
  }
}
